export(ackley_function)
export(bbob2009_function)
export(branin_function)
export(counting_function)
export(discus_function)
export(double_sum_function)
export(ellipsoidal_function)
export(function_id)
export(function_name)
export(global_minimum)
export(goldstein_price_function)
export(griewank_function)
export(is_soo_function)
export(kotancheck_function)
export(lower_bounds)
export(mexican_hat_function)
export(noisy_bbob2009_function)
export(number_of_evaluations)
export(number_of_parameters)
export(random_parameters)
export(rastrigin_function)
export(reset_evaluation_counter)
export(rosenbrock_function)
export(rotate_parameter_space)
export(soo_function)
export(sphere_function)
export(upper_bounds)
export(weierstrass_function)
S3method(function_id,soo_function)
S3method(function_name,soo_function)
S3method(global_minimum,soo_function)
S3method(lower_bounds,soo_function)
S3method(number_of_parameters,soo_function)
S3method(plot,soo_function)
S3method(print,soo_function)
S3method(random_parameters,soo_function)
S3method(upper_bounds,soo_function)
useDynLib(soobench,do_bbob_eval)
useDynLib(soobench,do_bbob_opt)
useDynLib(soobench,do_f_ackley)
useDynLib(soobench,do_f_branin)
useDynLib(soobench,do_f_double_sum)
useDynLib(soobench,do_f_ellipsoidal)
useDynLib(soobench,do_f_goldstein_price)
useDynLib(soobench,do_f_griewank)
useDynLib(soobench,do_f_kotancheck)
useDynLib(soobench,do_f_mexican_hat)
useDynLib(soobench,do_f_rastrigin)
useDynLib(soobench,do_f_rosenbrock)
useDynLib(soobench,do_f_sphere)
useDynLib(soobench,do_f_weierstrass)
useDynLib(soobench,do_set_bbob_noise_seed)
